  /*footer*/ 
footer{
  background-color: lightblue;
  font-family: Arial;
  color: darkblue;
  padding:10px;
  border-style: dashed;
  border-color: darkblue;
  bottom:0%;
  left: 0%;
  position: fixed;
  width: 100%;



  
}

.headline{
    color: navy;
    border-bottom: 2px dotted grey;
    display: inline-block;
}

#feature{
    font-size: small;
    color: red;
    font-family: sans-serif;
    background-color: white;
    width: 80%;
    box-shadow:2px 2px 4px rgba(0,0,0,0.5) ;}

    #notice{
        text-align: center;
      border-style:solid;
    }

    /**/