/*header*/

#firstname{
    color: lightblue;
    text-shadow: 1px 1px navy;
    font-size: x-large;
    text-align: center;
}

/*header*/
/*main*/

#main-content li{
color: yellow;
text-shadow:1px 1px grey;
}



/*main*/
/*footer*/ 




/*footer*/ 
