header{
    background-color: lightblue;
    margin-left: 35%;
    margin-right: 35%;

}
h1{
    text-align: center;
}
textarea{
    height:3em;
    width: 60em;
}
fieldset{
align-self: center;
    width: 20em;
}

footer{
    background-color: lightblue;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: auto;
}
h5{
text-align: center;
}

main{
    background-color: lightgrey;
}
body{
    background-color: lightgrey;
}