
header{
    background-color: black;
    color: white;}

    img{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    h1{
        text-align: center;
    }
 nav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
 }

#content{
    display: flex;
    flex-direction: row;
}
#main{
    width: 70%;
    border: 2px;
    border-style: solid;
    border-color: navy;
    padding: 5px;
    margin: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

aside{
    border: 2px;
    border-style: solid;
    border-color: navy;
    padding:5px;
    margin: 10px;
    align-content: center;
width: 30%;
}

#facts{
    border: 2px;
    border-style: solid;
    border-color: navy;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
#products{
    border: 2px;
    border-style: solid;
    border-color: navy;
    padding: 5px;
    margin: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#airpods{
align-content: center;
text-align: center;
}

#mac{
    align-content: center;
    text-align: center;
}

footer{
    text-align: center;
    background-color: black;
    color: white;

}

body{
    height: 100vh;}
/* Default styles for phone */

  
  /* Tablet portrait (600px) */
  @media screen and (max-width: 600px) {
    /* Tablet portrait styles */
    /* ... */
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

    
  }
  
  /* Tablet landscape (900px) */
  @media screen and (min-width: 900px) {
    /* Tablet landscape styles */
    /* ... */
  }
  
  /* Desktop (1200px) */
  @media screen and (min-width: 1200px) {
    /* Desktop styles */
    /* ... */
  
    /* Horizontal navbar for desktop */
    .navbar {
      /* Desktop styles */
      /* ... */
    }
  
    /* <aside> to the right of <main> for desktop */
    aside {
      /* Desktop styles */
      /* ... */
    }
  
    /* Horizontal content inside <main> for desktop */
    main {
      /* Desktop styles */
      /* ... */
    }
  }
  
  /* Big Desktop (2500px) */
  @media screen and (min-width: 2500px) {
    /* Big Desktop styles */
    /* ... */
  }
  
  
  
